# package directories
node_modules
jspm_packages

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

credentials.csv
.vscode
.vscode/settings.json
